input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.webkit-switch-color::-webkit-color-swatch {
  border-radius: 0.25rem;
  border: none;
  padding: 0;
}

.webkit-switch-color-wrapper::-webkit-color-swatch-wrapper {
  padding: 0;
}  
